@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: yellow;
}

.photodesc {
    padding: 0;
    margin: 0;
}

.container h1 {
    margin-bottom: 25px;
}

.photodesc p {
    margin-left: 40px;
}

.attributes {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.attributes div {
    margin-left: 60px;
}

.attributes p {
    font-size: 15pt;
}

.attributes h1 {
    font-size: 25pt;
}