.carta div{
    margin-left: 10px;
}

.carta {
    &::-webkit-scrollbar {
        width: 10px; /* Ancho de la barra de desplazamiento */
        height: 10px; /* Altura de la barra de desplazamiento */
    }

    &::-webkit-scrollbar-track {
        background-color: black; /* Color de fondo de la barra de desplazamiento */
        border-radius: 5px; /* Bordes redondeados */
    }

    &::-webkit-scrollbar-thumb {
        background-color: yellow; /* Color del pulgar (parte móvil) de la barra de desplazamiento */
        border-radius: 10px; /* Bordes redondeados */
    }
}