.carta div{
    margin-left: 10px;
}

.carta {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: black; 
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: yellow; 
        border-radius: 10px; 
    }
}

.title h1{
    margin-top: 50px;
}